In [5]:
import os
import tempfile
import shutil
import urllib
import zipfile
import pandas as pd


temp_dir = os.path.join(tempfile.gettempdir(), 'mind')
os.makedirs(temp_dir, exist_ok=True)

# 下载validation_small_url
base_url = 'https://mind201910small.blob.core.windows.net/release'
training_small_url = f'{base_url}/MINDsmall_train.zip'
validation_small_url = f'{base_url}/MINDsmall_dev.zip'
training_large_url = f'{base_url}/MINDlarge_train.zip'
validation_large_url = f'{base_url}/MINDlarge_dev.zip'

In [7]:
def download_url(url,
                 destination_filename=None,
                 progress_updater=None,
                 force_download=False,
                 verbose=True):
    """
    Download a URL to a temporary file
    """
    if not verbose:
        progress_updater = None

    if destination_filename is None:
        url_as_filename = url.replace('://', '_').replace('/', '_')
        destination_filename = \
            os.path.join(temp_dir,url_as_filename)
    if (not force_download) and (os.path.isfile(destination_filename)):
        if verbose:
            print('Bypassing download of already-downloaded file {}'.format(
                os.path.basename(url)))
        return destination_filename
    if verbose:
        print('Downloading file {} to {}'.format(os.path.basename(url),
                                                 destination_filename),
              end='')
    urllib.request.urlretrieve(url, destination_filename, progress_updater)
    assert (os.path.isfile(destination_filename))
    nBytes = os.path.getsize(destination_filename)
    if verbose:
        print('...done, {} bytes.'.format(nBytes))
    return destination_filename

In [ ]:
# 下载并解压数据

zip_path = download_url(validation_small_url, verbose=True)
with zipfile.ZipFile(zip_path, 'r') as zip_ref:
    zip_ref.extractall(temp_dir)

os.listdir(temp_dir)

behaviors.tsv 文件包含了用户的浏览记录和新闻点击历史，共包含五列数据：

Impression ID：浏览记录的ID。
User ID：用户的匿名ID。
Time：浏览时间，格式为 "MM/DD/YYYY HH:MM:SS AM/PM"。
History：在这次浏览之前，用户的新闻点击历史（已点击新闻的ID列表）。
Impressions：在这次浏览中展示的新闻列表以及用户对这些新闻的点击行为（1表示点击，0表示未点击）。

In [12]:
# 下载后将数据集放在本地的路径下，为dataset/MIND/MINDsmall_dev
data_path = './dataset/MIND/MINDsmall_dev'

# 显示behaviors.tsv数据
behaviors_path = os.path.join(data_path, 'behaviors.tsv')
pd.read_table(
    behaviors_path,
    header=None,
    names=['impression_id', 'user_id', 'time', 'history', 'impressions'])

,impression_id,user_id,time,history,impressions
0,1,U80234,11/15/2019 12:37:50 PM,N55189 N46039 N51741 N53234 N11276 N264 N40716...,N28682-0 N48740-0 N31958-1 N34130-0 N6916-0 N5...
1,2,U60458,11/15/2019 7:11:50 AM,N58715 N32109 N51180 N33438 N54827 N28488 N611...,N20036-0 N23513-1 N32536-0 N46976-0 N35216-0 N...
2,3,U44190,11/15/2019 9:55:12 AM,N56253 N1150 N55189 N16233 N61704 N51706 N5303...,N36779-0 N62365-0 N58098-0 N5472-0 N13408-0 N5...
3,4,U87380,11/15/2019 3:12:46 PM,N63554 N49153 N28678 N23232 N43369 N58518 N444...,N6950-0 N60215-0 N6074-0 N11930-0 N6916-0 N248...
4,5,U9444,11/15/2019 8:25:46 AM,N51692 N18285 N26015 N22679 N55556,N5940-1 N23513-0 N49285-0 N23355-0 N19990-0 N3...
...,...,...,...,...,...
73147,73148,U77536,11/15/2019 8:40:16 PM,N28691 N8845 N58434 N37120 N22185 N60033 N4702...,N496-0 N35159-0 N59856-0 N13270-0 N47213-0 N26...
73148,73149,U56193,11/15/2019 1:11:26 PM,N4705 N58782 N53531 N46492 N26026 N28088 N3109...,N49285-0 N31958-0 N55237-0 N42844-0 N29862-0 N...
73149,73150,U16799,11/15/2019 3:37:06 PM,N40826 N42078 N15670 N15295 N64536 N46845 N52294,N7043-0 N512-0 N60215-1 N45057-0 N496-0 N37055...
73150,73151,U8786,11/15/2019 8:29:26 AM,N3046 N356 N20483 N46107 N44598 N18693 N8254 N...,N23692-0 N19990-0 N20187-0 N5940-0 N13408-0 N3...
73151,73152,U68182,11/15/2019 11:54:34 AM,N20297 N53568 N4690 N60608 N43709 N43123 N1885...,N29862-0 N5472-0 N21679-1 N6400-0 N53572-0 N50...

news.tsv 文件包含了behaviors.tsv文件中涉及的新闻文章的详细信息，共有七列数据：

News ID：新闻的ID。
Category：新闻的类别。
Subcategory：新闻的子类别或更具体的分类。
Title：新闻的标题。
Abstract：新闻的摘要或简短描述。
URL：新闻的链接地址。
Title Entities：新闻标题中包含的实体（例如人名、地名、组织名等）。
Abstract Entities：新闻摘要中包含的实体。

In [13]:
# 显示news.tsv的数据信息
news_path = os.path.join(data_path, 'news.tsv')
pd.read_table(news_path,
              header=None,
              names=[
                  'id', 'category', 'subcategory', 'title', 'abstract', 'url',
                  'title_entities', 'abstract_entities'
              ])

,id,category,subcategory,title,abstract,url,title_entities,abstract_entities
0,N55528,lifestyle,lifestyleroyals,"The Brands Queen Elizabeth, Prince Charles, an...","Shop the notebooks, jackets, and more that the...",https://assets.msn.com/labs/mind/AAGH0ET.html,"[{""Label"": ""Prince Philip, Duke of Edinburgh"",...",[]
1,N18955,health,medical,Dispose of unwanted prescription drugs during ...,NaN,https://assets.msn.com/labs/mind/AAISxPN.html,"[{""Label"": ""Drug Enforcement Administration"", ...",[]
2,N61837,news,newsworld,The Cost of Trump's Aid Freeze in the Trenches...,Lt. Ivan Molchanets peeked over a parapet of s...,https://assets.msn.com/labs/mind/AAJgNsz.html,[],"[{""Label"": ""Ukraine"", ""Type"": ""G"", ""WikidataId..."
3,N53526,health,voices,I Was An NBA Wife. Here's How It Affected My M...,"I felt like I was a fraud, and being an NBA wi...",https://assets.msn.com/labs/mind/AACk2N6.html,[],"[{""Label"": ""National Basketball Association"", ..."
4,N38324,health,medical,"How to Get Rid of Skin Tags, According to a De...","They seem harmless, but there's a very good re...",https://assets.msn.com/labs/mind/AAAKEkt.html,"[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI...","[{""Label"": ""Skin tag"", ""Type"": ""C"", ""WikidataI..."
...,...,...,...,...,...,...,...,...
42411,N63550,lifestyle,lifestyleroyals,Why Kate & Meghan Were on Different Balconies ...,There's no scandal here. It's all about the or...,https://assets.msn.com/labs/mind/BBWyynu.html,"[{""Label"": ""Meghan, Duchess of Sussex"", ""Type""...",[]
42412,N30345,entertainment,entertainment-celebrity,See the stars at the 2019 Baby2Baby gala,Stars like Chrissy Teigen and Kate Hudson supp...,https://assets.msn.com/labs/mind/BBWyz7N.html,[],"[{""Label"": ""Kate Hudson"", ""Type"": ""P"", ""Wikida..."
42413,N30135,news,newsgoodnews,Tennessee judge holds lawyer's baby as he swea...,Tennessee Court of Appeals Judge Richard Dinki...,https://assets.msn.com/labs/mind/BBWyzI8.html,"[{""Label"": ""Tennessee"", ""Type"": ""G"", ""Wikidata...","[{""Label"": ""Tennessee Court of Appeals"", ""Type..."
42414,N44276,autos,autossports,Best Sports Car Deals for October,NaN,https://assets.msn.com/labs/mind/BBy5rVe.html,"[{""Label"": ""Peugeot RCZ"", ""Type"": ""V"", ""Wikida...",[]
42415,N39563,sports,more_sports,Shall we dance: Sports stars shake their leg,NaN,https://assets.msn.com/labs/mind/BBzMpnG.html,[],[]

entity_embedding.vec 文件包含由 TransE 方法从子图中学习得到的实体的 100 维嵌入向量。

TransE（Translational Embedding）是一种用于知识图谱嵌入的流行方法，它旨在学习实体和关系在连续向量空间中的表示，使得这些表示能够捕捉到知识图谱中的结构信息。


第一列是实体的 ID。
其他列则是嵌入向量的值，总共有 100 个数值，代表了该实体在 100 维向量空间中的位置。

In [14]:
# 展示entity_embedding.vec的文件数据
entity_embedding_path = os.path.join(data_path, 'entity_embedding.vec')
entity_embedding = pd.read_table(entity_embedding_path, header=None)
entity_embedding['vector'] = entity_embedding.iloc[:, 1:101].values.tolist()
entity_embedding = entity_embedding[[0,'vector']].rename(columns={0: "entity"})
entity_embedding

          entity                                             vector
0         Q34433  [0.017808, -0.073256, 0.102521, -0.059926, -0....
1            Q41  [-0.063388, -0.181451, 0.057501, -0.091254, -0...
2         Q56037  [0.02155, -0.044888, -0.027872, -0.128843, 0.0...
3          Q1860  [0.060958, 0.069934, 0.015832, 0.079471, -0.02...
4         Q39631  [-0.093106, -0.052002, 0.020556, -0.020801, 0....
...          ...                                                ...
22888    Q278846  [0.042413, 0.021957, 0.072414, -0.068437, 0.02...
22889  Q54621949  [-0.018299, -0.048378, -0.021645, -0.079743, 0...
22890  Q42225228  [-0.051346, -0.028947, -0.07587, 0.017512, -0....
22891  Q54862508  [-0.052323, -0.078029, -0.060925, -0.052536, 0...
22892  Q42301562  [-0.00519, -0.047871, 0.009753, -0.0215, -4.9e...

[22893 rows x 2 columns]

relation_embedding.vec 文件包含由 TransE 方法从子图中学习得到的关系的 100 维嵌入向量。

在知识图谱中，关系描述了实体之间的连接或相互作用，因此学习关系的嵌入向量对于理解图谱的结构和进行各种知识推理任务至关重要。


第一列是关系的 ID。
其他列则是嵌入向量的值，总共有 100 个数值，代表了该关系在 100 维向量空间中的表示。

In [15]:
# 展示relation_embedding.vec的文件数据

relation_embedding_path = os.path.join(data_path, 'relation_embedding.vec')
relation_embedding = pd.read_table(relation_embedding_path, header=None)
relation_embedding['vector'] = relation_embedding.iloc[:,
                                                       1:101].values.tolist()
relation_embedding = relation_embedding[[0, 'vector'
                                         ]].rename(columns={0: "relation"})
relation_embedding

     relation                                             vector
0         P31  [-0.073467, -0.132227, 0.034173, -0.032769, 0....
1         P21  [-0.078436, 0.108589, -0.049429, -0.131355, 0....
2        P106  [-0.052137, 0.052444, -0.019886, -0.152309, 0....
3        P735  [-0.051398, 0.056219, 0.068029, -0.137717, -0....
4        P108  [0.091231, 0.022526, 0.059349, -0.141853, 0.03...
...       ...                                                ...
1086    P1897  [-0.019021, 0.001183, -0.009602, -0.040833, -0...
1087    P3776  [-0.018365, 0.028526, -0.025934, 0.032296, -0....
1088    P1194  [-0.026819, 0.003231, -0.011298, -0.015206, 0....
1089    P2502  [0.003554, -0.041121, -0.010559, -0.037862, -0...
1090    P6977  [-0.023617, -0.021648, 0.009369, -0.021757, 0....

[1091 rows x 2 columns]